//当HTML的data-theme为dark时，样式引用dark
//data-theme为其他值时，就采用组件库的默认样式
//这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
//注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱

$themes: (
  light: (
    //字体
    fc_nickname: #1d1d1f,
    fc_grid: #2c2c2f,
    fc_bread: #92929c,
    fc_bread_active: #1d1d1f,
    fc_girdtable: #1d1d1f,
    fc_side_link: #75757d,
    fc_side_link_hover: #5856d5,
    fc_side_link_active: #5856d5,
    fc_tree_node: #75757d,
    fc_pop: #1d1d1f,
    fc_input: #92929c,
    fc_normal: #1d1d1f,

    //背景
    bc_sidebar: #f4f4f5,
    bc_content: #fff,
    bc_collapser: #fff,
    bc_divider: #e9e9eb,
    bc_popover: #fff,
    bc_hover_nickname: #e9e9eb,
    bc_griditem_hover: #f4f4f5,
    bc_td_hover: #F5F7FA,
    bc_side_link_hover: #deddf7,
    bc_side_link_active: #deddf7,
    bc_tree_node: #F5F7FA,
    bc_tree_node_hover: #e9e9eb,
    bc_pop_hover: #f7f7f7,
    bc_input: #e9e9eb,
    bc_adder: #2c2c2f,
    bc_dialog_left: #f4f4f5,
    bc_dialog_right: #fff,


    bdc_grid: #dedee1,
    bdc_show_btn: #c9c9ce,
    bdc_table_divider: #dedee1,
    bdc_dialog_left: #dedee1,
  ),
  dark: (
    //字体 #e9e9eb;#66666d
    fc_nickname: #f4f4f5,
    fc_grid: #fff,
    fc_bread: #9d9da6,
    fc_bread_active: #f4f4f5,
    fc_girdtable: #c9c9ce,
    fc_side_link: #c9c9ce,
    fc_side_link_hover: #f4f4f5,
    fc_side_link_active: #f4f4f5,
    fc_tree_node: #dedee1,
    fc_pop: #f4f4f5,
    fc_input: #9d9da6,
    fc_normal: #f4f4f5,
    //背景
    bc_sidebar: #2c2c2f,
    bc_content: #1d1d1f,
    bc_collapser: #1d1d1f,
    bc_divider: #66666d,
    bc_popover: #49494e,
    bc_hover_nickname: transparent,
    bc_griditem_hover: #49494e80,
    bc_td_hover: #49494e80,
    bc_side_link_hover: #5856d5,
    bc_side_link_active: #5856d5,
    bc_tree_node: #F5F7FA,
    bc_tree_node_hover: #49494e,
    bc_pop_hover: #ffffff0f,
    bc_input: #49494e,
    bc_adder: #5856d5,
    bc_dialog_left: #2c2c2f,
    bc_dialog_right: #49494e,

    // border
    bdc_grid: transparent,
    bdc_show_btn: #696a6b,
    bdc_table_divider: #66666d,
    bdc_dialog_left: #66666d,
  ),
);
