//当HTML的data-theme为dark时，样式引用dark
//data-theme为其他值时，就采用组件库的默认样式
//这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
//注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱

$themes: (
  light: (
    //字体
    font_color1: #414141,
    font_color2: white,
    //背景
    bc_sidebar: #f4f4f5,
    bc_collapser: #fff,
    background_color2: #f0f2f5,
    background_color3: red,
    background_color4: #2674e7,
    //边框
    border_color1: #3d414a,
  ),
  dark: (
    //字体
    font_color1: #a7a7a7,
    font_color2: white,
    //背景
    bc_sidebar: #2c2c2f,
    bc_collapser: #1d1d1f,
    background_color2: #283142,
    background_color3: #1e6ceb,
    background_color4: #323e4e,
    //边框
    border_color1: #3d414a,
  ),
);
